<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ADMIN PAGE</title>
</head>

<body>

<div style="text-align: center;color: red"><b><h1>ADMIN PAGE</h1></b></div>

<div style="text-align: center;">
    <form th:method="GET" th:action="@{/admin/create}">
        <input type="submit" value="CREATE NEW USER">
    </form>
</div>
<style>
    table {
        font-family: Arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    td, th {
        border: 3px solid #000000;
        text-align: center;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #b9d487;
    }

</style>

<table>
    <tr>
        <td>Id</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Age</td>
        <td>Email</td>
        <td>Role</td>
        <td>Actions</td>
    </tr>

    <tr th:each="user:${user}">
        <td><p th:text="${user.id}"></p> </td>
        <td><p th:text="${user.firstName}"></p> </td>
        <td><p th:text="${user.lastName}"></p></td>
        <td><p th:text="${user.age}"></p></td>
        <td><p th:text="${user.email}"></p></td>
        <td>
            <div th:each="role : ${user.getRoles()}">
                <p th:text="${role.getName()}"></p>
            </div>
        </td>
        <td>
            <form th:method="GET" th:action="@{/user/{id}(id=${user.id})}">
                <input type="submit"  value="VIEWING">
            </form>
            <form th:method="GET" th:action="@{/admin/update/{id}(id=${user.id})}">
                <input type="submit"  value="UPDATE">
            </form>
            <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.id})}">
                <input type="submit"  value="DELETE">
            </form>
        </td>
    </tr>
</table>
<div style="text-align: left;">
    <form th:method="GET" th:action="@{/logout}">
        <input type="submit" value="LOGOUT">
    </form>
</div>
</body>
</html>