<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>

</head>
<body>
<form th:method="POST" th:action="@{/admin/update/{id}(id=${user.id})}" th:object="${user}">
    <label for="firstName">Enter First name: </label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <br/>
    <br/>
    <label for="lastName">Enter Last name: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/>
    <br/>
    <label for="email">Enter Email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <br/>
    <label for="age">Enter Age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <br/>
    <label for="password">Enter Password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <br/>
    <label>Role:
        <th:block th:each="role: ${roles}">
            <input type="checkbox" name="nameRoles"
                   th:text="${role.name}" th:value="${role.name}"/>
        </th:block>
        <br/>
        <br/>
        <input type="submit" value="UPDATE"/>
    </label>
</form>
<br/>
<form th:method="GET" th:action="@{/admin}">
    <input type="submit" value="MAIN MENU">
</form>
<br/>
<form th:method="GET" th:action="@{/logout}">
    <input type="submit" value="LOGOUT">
</form>
<br/>
</body>
</html>